<!DOCTYPE html>
<html ng-app="directiveWorkshop">
<head>
	<title>My Directives</title>
</head>
<body ng-controller="mainCtrl">

<div>
<p>{{name}}</p>
<show-pending></show-pending>

<h2>pending</h2>
	<form>
		<input ng-model="query" placeholder="Search"/>
		<button show-pending request="getData()">Submit</button> 
	</form>
</div>

<div>
<h2>Notifications</h2>
	<form>
		<input ng-model="title" placeholder="title"/>
		<input ng-model="body" placeholder="body"/>
		<input ng-model="icon" placeholder="iconUrl"/>
		<button ng-click="">Submit</button> 
	</form>
</div>

<div ></div>

<scripts>
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script src="js/app.js"></script>
  <script type="text/javascript" src="js/mainCtrl.js"></script>
	<script type="text/javascript" src="js/mainService.js"></script>
	<script type="text/javascript" src="js/myDirectives.js"></script>
</scripts>

</body>
</html>