<!DOCTYPE html>
<html ng-app="directiveWorkshop">
<head>
  <link rel="stylesheet" href="style.css">
	<title>My Directives</title>
</head>
<body ng-controller="mainCtrl">

<div>
<!--show-pending></show-pending--><!--I used this to test directive element 'elem', when not hidden-->

<h2>pending</h2>
	<form>
		<input ng-model="query" placeholder="Search"/>
		<button show-pending request="getData()">Submit</button> 
	</form>
</div>

<div>
<h2>Notifications</h2>
	<form>
		<input ng-model="title" placeholder="title"/>
		<input ng-model="body" placeholder="body"/>
		<input ng-model="icon" placeholder="iconUrl"/>
		<button notify-box title="title" body="body" icon="icon">Submit</button> 
	</form>
</div>
{{data.data.results}}

<scripts>
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script src="js/app.js"></script>
  <script type="text/javascript" src="js/mainCtrl.js"></script>
	<script type="text/javascript" src="js/mainService.js"></script>
	<script type="text/javascript" src="js/myDirectives.js"></script>
  <script type="text/javascript" src="js/notifyDirective.js"></script>
</scripts>

</body>
</html>
